.home-container {
  padding: 2rem;
  font-family: 'Verdana', sans-serif;
  background-color: #f2f2f2;
}

.home-header {
  text-align: center;
  margin-bottom: 2rem;
}

.home-title {
  color: #ff0000;
}

.home-subtitle {
  font-size: 1.2rem;
}

.home-section {
  margin-bottom: 2rem;
}

.home-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffcb05;
  color: #2d72fc;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.detail-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffcb05;
  color: #2d72fc;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffcb05;
  color: #2d72fc;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}


.home-footer {
  margin-top: 4rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  text-align: center;
}
